#  Assignment 1
#  Q#1: Use of built-in string functions

In [48]:
name = "Tayla Kanwal"
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# capitalize function

In [2]:
name = "Tayla Kanwal"       #capitalize func converts 1st char(character) of string to uppercase, if already then returns same
print(name.capitalize())

Tayla kanwal

In [3]:
fruit = "apple"
print(fruit.capitalize())

Apple

# ljust function

In [4]:
name = "Tayla Kanwal"    #ljust func gives a space to characters defined and aligns it to left
print(name.ljust(50,"#"))

Tayla Kanwal######################################

# rjust function

In [5]:
name = "Tayla Kanwal"    #rjust func gives a space to char defined and aligns it to right
print(name.rjust(20,"*"))

********Tayla Kanwal

# casefold function

In [6]:
name = "Tayla Kanwal"      #casefold func lowerscase all char of string
print(name.casefold())

tayla kanwal

# centre function

In [5]:
name = "Tayla Kanwal"         #this func gives a space of char defined
print(" actual name: \n",name,"\n")
print(name.centre(50),"\n")
print(name.centre(50,"@"))

 actual name:
 Tayla Kanwal

AttributeError: 'str' object has no attribute 'centre'

# encode function

In [15]:
name = "Tayla Kanwal"  #encodes the string using specified encoding,if no coding is specified UTF8 is used
print(name.encode())

b'Tayla Kanwal'

# endswith function

In [16]:
 name = "Tayla Kanwal"    #returns true if the string ends with the specified suffix otherwise returns false
print(name.endswith("l")) 
print(name.endswith("m"))

True
False

# count function

In [17]:
fruits = "banana"   #count func returns the number of occurences of substrings in the given string
print(fruits.count("a"))

3

# find function

In [18]:
city = "islamabad"     #find func returns the index of a char if it exists else returns -1(if that char is absent)
print(city.find("m"))

4

# expandtabs function

In [20]:
fruits = "\t ban\tana apple"    #returns a copy where all tab char are expanded using space(by default space-8)
print(fruits.expandtabs(3))

    ban  ana apple

# format function

In [30]:
name = "{} Tayla Kanwal" # used for string formatting,allows multiple substitutions and value formatting ,concatenating elements through positional arguments
print(name.format("My name is"))

My name is Tayla Kanwal

# index

In [16]:
name = "Tayla Kanwal" #index function searches for the given element from the start of the list and returns the lowest index
print(name.index("w"))
same = "Tayla Kanwal"
print(same.index("y"))

9
2

# isalnum function

In [21]:
name = "Tayla123 Kanwal" # isalnum func checks if all the characters in the strings are alphanumeric and retuns true if there are spaces in string it returns false    there are spaces in given string(alphanumeric)

                                                                                    
print(name.isalnum())
name = "Tayla123Kanwal"
print(name.isalnum())
num = "12345"
print(num.isalnum())

False
True
True

# isalpha function

In [6]:
name = "TAYLAKANWAL"  # isalpha func returns true if all the char in the string are alphabets otherwise returns false also returns false when space is used alphabets
print(name.isalpha())
num = "12345"
print(num.isalpha())
student = "ALINA KHAN"
print(student.isalpha())
same = "alinakhan"
print(same.isalpha())

True
False
False
True

# isascii function

In [38]:
fruits2 = "Mango,Banana"     # isascii func is the attribute of strings ,not of integers
print(fruits2.isascii())
same = "alinakhan"
print(same.isascii())
num = "12#*3^@4-5+"
print(num.isascii())

True
True
True

# isdecimal function

In [39]:
num = "12345"   # isdecimal func  returns true if all the char are decimals otherwise returns false 
print(num.isdecimal())
num = "123 456"
print(num.isdecimal())

True
False

# isdigit function

In [51]:
flower = "rose"     # returns true all the char  are digits otherwise returns false
print(flower.isdigit())
num = "12345"
print(num.isdigit())

False
True

# isidentifier function

In [50]:
name = "Tayla Kanwal"   # checks whether a string is a valid identifier or not
print(name.isidentifier())
num = "12345"
print(num.isidentifier())
name = "TaylaKanwal"
print(name.isidentifier())
fruit = "1cherry"
print(fruit.isidentifier())
pet = "cat1cat"
print(pet.isidentifier())

False
False
True
False
True

# islower function

In [52]:
name = "Tayla Kanwal"    # this func returns true when if the string is lowercase otherwise returns false
print(name.islower())
name = "tayla kanwal"
print(name.islower())

False
True

# isupper function

In [8]:
city = "karachi"      # this func returns true when all the string is uppercase otherwise returns false
print(city.isupper())
country = "PAKISTAN"
print(country.isupper())

False
True

# lower function

In [10]:
city = "Karachi"     # returns a copy of the string converted to lowercase
print(city.lower())

karachi

# upper function

In [11]:
name = "Tayla Kanwal"    #returns a copy of string converted to uppercase
print(name.upper())

TAYLA KANWAL

# isnumeric function

In [12]:
number = "123"   #returns true if all the char are numeric otherwise returns false 
print(number.isnumeric())

True

# istitle function

In [13]:
name = "Tayla Kanwal"   #  returns true if titlecased otherwise returns false 
print(name.istitle())

True

# isprintable function

In [14]:
name = "Tayla Kanwal"    #returns true if all the char are printable or string is empty otherwise returns false
print(name.isprintable())
name = "Tayla \n Kanwal"      # \n is not printable
print(name.isprintable())

True
False

# isspace function

In [15]:
city = "attock"    #returns true if string contains whitespace characters(\n,\t,\f,\r,\v)otherwise returns false
print(city.isspace())
ch = " "
print(ch.isspace())

False
True

# join function

In [16]:
name = {"Tayla","Kanwal"}  #returns a string in which elements of sequence are joined by str operator
print("-".join(name))    #concatenated with the elements of iterable

Tayla-Kanwal

# lstrip function

In [17]:
name = "--Tayla Kanwal--"   #deletes all the leading characters
print(name.lstrip("-"))

Tayla Kanwal--

# rstrip function

In [18]:
name = "--Tayla Kanwal--"   # deletes all the trailing character
print(name.rstrip("-"))

--Tayla Kanwal

# strip function

In [19]:
name = "--Tayla Kanwal--"   #deletes all the leading and trailing characters mentioned in arguments
print(name.strip("-"))

Tayla Kanwal

# input function

In [20]:
fc = "MN"  # specify to translate characters
sc = "TK"  # specify to translate with
rc = "-"   #delete characters
tar = "Mayla-Nanwal"  # target string
table = tar.maketrans(fc,sc,rc)  #using maketrans() to construct,translate table
print("Original text:",tar)   # original string
print("Translated text:",tar.translate(table))  # using translate() to make translations

Original text: Mayla-Nanwal
Translated text: TaylaKanwal

# partition function

In [22]:
name = "Tayla Kanwal"    #partitions the string into 3 parts using the given separators and returns into tuple form
print(name.partition("Kanwal"))

('Tayla ', 'Kanwal', '')

# rpartition function

In [23]:
name = "Tayla Kanwal"   #starts looking for the separator from the right
print(name.rpartition("Tayla"))

('', 'Tayla', ' Kanwal')

# Q#2
# Use of operands

In [1]:
5687+90-352+89//7+45

5482

In [2]:
5464728//227+5866-78*12+456

29459

In [3]:
47839944+783*9450+23-2677+5990//345

55236657

In [4]:
784743+7388+297*86757//399-27548

829161

In [24]:
5+8*3-44/4

18.0

In [25]:
4+5*8/2-20+50-23

31.0

In [26]:
(5+9-7)/21+(3-9+8+65)

67.33333333333333

In [27]:
22/7

3.142857142857143

In [29]:
11+9+5-34+77/11*92+347

982.0

In [30]:
550102+12*6-67/98-56+564-345

550336.3163265307

In [31]:
10//2

5

In [32]:
20/4

5.0

In [33]:
333//11+467*1245-578

580867

In [34]:
467*1245

581415

In [35]:
34+67-8*3+7/34

77.20588235294117

In [36]:
2000+3642*5//45+3489-29847

-23954

In [37]:
374+(67/23+45)-346+(873/4334)-345+23

-245.88552597259286

In [38]:
477272+56-7839

469489

In [39]:
7786782//40+6753-52983

148439

In [40]:
377583735739//785+56-778

480997667

In [41]:
500000000000//25+6250-890

20000005360